.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: none;

    &.back-section {
        z-index: 1;
    }

    &.active {
        z-index: 2;
        opacity: 1;
        animation: slideSection 1s ease;
    }

    .container {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .section-title {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;

        h2 {
            font-size: 40px;
            color: var(--text-black-900);
            font-weight: 700;
            position: relative;

            &::before {
                content: "";
                height: 4px;
                width: 50px;
                background: var(--skin-color);
                position: absolute;
                top: 100%;
                left: 0;
            }

            &::after {
                content: "";
                height: 4px;
                width: 25px;
                background: var(--skin-color);
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 8px;
            }

        }
    }
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}